<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
    </div>

    <!-- 추가 -->
    <div>
        <span id="itemId" class="form-control" values="제목" th:value="${stroy.name}" style="display: block; height: 40px;"></span>
    </div>
    <hr>
    <div>
        <textarea id="itemName" name="itemName" class="form-control" value="내용" th:value="${story.content}" rows="10" cols="30" readonly></textarea>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/contents/{storyId}/edit(storyId=${story.id})}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='contents.html'"
                    th:onclick="|location.href='@{/contents}'|"
                    type="button"
                    style="background-color: red;">삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='contents.html'"
                    th:onclick="|location.href='@{/contents}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>